* {
    --banner-height: 80px;
}

#wayback-banner {
    width: 100%;
    min-width: 330px;
    height: var(--banner-height);
    background-color: #FFB36D;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 50; /* above mobile nav? (not working for transition) */
}

#wayback-banner h1 {
    /* adjust sizes from derrida default and use body font instead of title font */
    font-size: 1.15em;
    font-weight: bold;
    margin: 0;
    font-family: "UniversLTPro-55Roman", "Helvetica", "Arial", sans-serif;
}

@media (min-width: 650px) {
    * {
        --banner-height: 70px;
    }

    #wayback-banner h1 {
        font-size: 1.75em;
    }
}

/* shift top left and top right coordinate navigation to compensate for the banner */
.coordinate-navigation a:first-child, .coordinate-navigation a:nth-child(3)  {
    margin-top: var(--banner-height);
}

/* shift mobile nav down for the banner */
.mdl-layout__drawer-button, .mdl-layout__header {
    top: var(--banner-height) !important;
}

.mdl-layout__drawer.is-visible {
    top: var(--banner-height) !important;
    /* adjust alignment so we don'tss get a gap between nav and menu */
    margin-top: -6px;
}

/* image gallery has a different layout */
main#book-image-gallery {
    margin-top: var(--banner-height);
}
/* disable deep zoom toggle */
main#book-image-gallery a[data-value=zoom] {
    pointer-events: none;
    cursor: not-allowed;   /* doesn't actually  work with pointer-events none */
    opacity: 0.5;
}
main#book-image-gallery a[data-value=annotations] {
    pointer-events: none;
}
/* adjust rights image and handle 404 on PUL logo icon */
img[src*="rightsstatements_org"] {
    background-color: #f5f5f5;
}
/* add fallback for missing PUL logo that doesn't display due to the way we're proxying */
footer.gallery-image-view__footer::after { 
    aspect-ratio: 299 / 317;
    width: 27px;
    display: inline-block;
    position: relative;
    background-image: url('/static/pul_logo_icon.png');
    background-size: contain;
}

/* disable search inputs and filters */
.page-filter, .filter__section--toggles {
    cursor: not-allowed;
}
/* disable site search; simpler for layout if it's present instead of hidden */
.header__search-button {
    pointer-events: none !important;
    cursor: not-allowed;
    opacity: 0.35;
}

.page-filter input, .page-filter select, .page-filter label, .page-filter button, .mdl-switch__track, .clear-link, #id_order_by, .frequency_chart {
    pointer-events: none;
    opacity: 0.65;
}

.mdl-textfield  {
    opacity: 0.65;
}

.filter__section:not(.filter__section--toggles) .filter__selector {
    cursor: pointer;
    pointer-events: auto;
}
