{% if not env.pywb_proxy_magic or config.proxy.enable_banner | default(true) %}
{% autoescape false %}

<link rel='stylesheet' href='{{ static_prefix }}/custom.css'/>

<section id="wayback-banner">
    <h1>You Are Viewing a Read-Only Website</h1>
    <p>Site search, filters, and sorting options are disabled.</p>
    <!-- link to data deposit of this web archive -->
    <a class="doi" href="https://doi.org/10.34770/yw3y-ze12" target="_blank">doi:10.34770/yw3y-ze12</a>
</section>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K94HB6SH84"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K94HB6SH84');
</script>
{% endautoescape %}
{% endif %}