{% extends "base.html" %}

{% block title %}{{ _('URL Not Found') }}{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ static_prefix }}/derridas-margins.css">

<article class="error-page">
    <div class="container">
        <h1 class="error-page__title">No Trace</h1>
        <p class="error-page__subtitle">404 Error</p>
        <p>No trace of the page was found.</p>
        <img class="error-page__image" src="{{ static_prefix }}/404_img.png" alt="empty bookshelf" />
    </div>
</article>

{% endblock %}